body{
	overflow-x: hidden;
	font-family:'Open Sans', sans-serif;
	background: #f8f8f8;
    text-align: justify;
}
/*img {
    height: auto;
    width: 100%;
}*/
.toolbar-oriented.toolbar-bar.toolbar .toolbar-bar, .toolbar .toolbar-tray {
 z-index: 1550;
}
input[type="text"],input[type="password"],textarea,select {
    width: 100%;
}
.content-main-row {
    margin-top: 50px;
}
.outter-row, .latest-offers-row {
    background: white none repeat scroll 0 0;
}
.slider-row {
	background: #ffffff;
    margin-bottom: 50px;
}

.slider-row  img {
	height: 491px;
	width: 100%;
}
.navbar-header {
  background: #4c4c4c;
  font-family: "Montserrat";
  font-size: 14px;
  //left: 5%;
  //margin-top: 25px;
}
.header-row {
    background: #F8F8F8;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.1;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}
h1,.h1 {
	font-size: 22px;
}
h2, .h2 {
    font-size: 22px;
}

    ul.tabs {
     list-style: outside none none ;
 }
 .tabs > li {
     display: block;
     margin-right: 0.3em;
     margin-top: 7px;
 }
 .tabs a {
    display: block;
    padding: 0.2em 1em;
    text-decoration: none;
    color: blue;
}
.tabs a:focus, .tabs a:hover,.tabs a.is-active {
	background: #333;
	color:#fc4242;
}

.tabs.primary {
	margin-left: -40px;
    margin-bottom: 30px;
}
a {
    border-bottom: none;
    color: #222;
    text-decoration: none;
    //text-transform: uppercase;
    transition: all 100ms ease-out 0s;
}

    .latest-offers-row {
     background: #f8f8f8;
     margin-top: 20px;
 }
 .footer-main-row {
    background-image: url('../images/footer-pattren-bg.png');
    color: #ffffff;
    margin-top: 3%;
    padding-top: 3%;
}
.owl-carousel {
    position: relative;
    width: 100%;
}
.owl-carousel img {
	//width: 100%;
	//height:auto;
}
.post {
    margin-bottom: 25px;
}
.image-row img {
	border-bottom: 4px solid lightgrey;
	height: 220px;
  //height: auto;
	width: 100%;
  image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  
}
.image-row img:hover {
	border-bottom: 4px solid #fc4242;
	transition-duration: 0.8s;
    image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.hotel-var {
 background: #fff none repeat scroll 0 0;
 border: 1px solid #e8e8e8;
 margin: 0 0 20px;
 text-align: center;
}
.title-content {
    padding: 30px 0 35px;
}
.title-content > a {
    font-family: "Montserrat";
    font-size: 16px;
    text-transform: uppercase;
}
.button {
    display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.button:hover,
.button:focus,
.button.focus {
  color: #333;
  text-decoration: none;
}
.button:active,
.button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.button:focus,
.button.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.button:active,
.button.active,
.open > .dropdown-toggle.button {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.button:active:hover,
.button.active:hover,
.open > .dropdown-toggle.button:hover,
.button:active:focus,
.button.active:focus,
.open > .dropdown-toggle.button:focus,
.button:active.focus,
.button.active.focus,
.open > .dropdown-toggle.button.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.button:active,
.button.active,
.open > .dropdown-toggle.button {
  background-image: none;
}
.button.disabled:hover,
.button[disabled]:hover,
fieldset[disabled] .button:hover,
.button.disabled:focus,
.button[disabled]:focus,
fieldset[disabled] .button:focus,
.button.disabled.focus,
.button[disabled].focus,
fieldset[disabled] .button.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn.btn-danger.book-now-btn > a {
    color: white;
    font-family: "montserrat";
    font-weight: 700;
    text-transform: uppercase;
}
.btn-danger {
    background-color: #fc4242;
    border: 1px solid transparent;
    color: #fff;
    transition-duration: 0.3s;
}
.btn-danger:hover {
	border-radius: 8px;
	background-color: #fc4242;
	border: 1px solid transparent;
}
.btn {
	border-radius: 0px;
	font-size: 13px;
}
.book-now-btn {
    margin-bottom: 25px;
    margin-top: -20px;
}
.front-block-col h2 {
    //margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.separator {
    background-image: url("../images/separator.png");
    background-repeat: repeat-x;
    height: 10px;
    margin-top: 40px;
    padding-bottom: 50px;

}
.footer-main-row h2 {
    color: white;
}
.big-front-block-row {
  background: white;
}
.jb-dt-main-image img {
    height: auto;
    width: 100%;
}
.icon {
    background: #f8f9f9 none repeat scroll 0 0;
    display: inline-block;
    height: 40px;
    position: relative;
    text-align: center;
    width: 74px;
    top: -21px;
    margin-left: -21px;
}

.icon::before {
    border-bottom: 19px solid #f8f9f9;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -19px;
    width: 0;
}
.icon::after {
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 19px solid #f8f9f9;
    bottom: -19px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.icon:hover.icon::before {
  border-bottom-color: #fc4242; 
}
.icon:hover.icon::after {
  border-top-color: #fc4242; 
}
.icon:hover {
  background: #fc4242;
  color:#f8f8f9 
}

.breadcrumb {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 8px 15px 8px 24%;
}
.breadcrumb-col {
    //background: url('../images/banner.jpg');
}
/*#block-invezza-breadcrumbs {
    top: -60px;
    
}*/
.breadcrumb ul li {
    display: inline-block;        
}
.breadcrumb li {
    color: #fc3d29;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.breadcrumb li a {
    color: white;
    font-size: 11px;
    font-weight: bold;
}
.breadcrumb li a:hover,.breadcrumb li a:focus,.breadcrumb li a:active {
    color: #fc4242;
}
.breadcrumb-row {
    background: rgba(0, 0, 0, 0) url("../images/banner.jpg") repeat scroll center top / cover ;
}
.latest-offer-pic img {
    height: 170px;
    width: 220px;
    margin-top: 10%;
    margin-bottom: 6%;
}
.latest-offer-title {
    font-family: "montserrat";
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7%;
    text-align: center;
    text-transform: uppercase;
}

.more-detail a {
    color: red;
    margin-left: -41%;
    margin-right: 17%;
}
.more-detail {
    margin-bottom: 5%;
      color: #fc4242;
    display: inline-block;
    float: right;
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
}
.more-detail a:hover {
  color: #333;
}


.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
.navbar-toggle {
    float: none;
    left: 30px;
    background: #222;
}
.icon-bar {
    background: white;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
    border-bottom: 2px solid #fc4242;
}
.nav > li > a{
    background: transparent;
    border-bottom: 2px solid transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: #fc4242;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
    color: white;
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu {
    background: #222;
}
.navbar-nav {
    background: #4c4c4c;
}
.navbar-nav > li > a {
    color: white;
    border-bottom: 2px solid transparent;
}
.nav > li > a {
    text-transform: uppercase;
}
.dropdown-menu > li {
    border-bottom: 0.1px dashed grey;
    padding-bottom: 10px;
}
.logo img {
    height: auto;
    width: auto;
}

.btn-menu {
    background: #4c4c4c;
}
.sepr {
    color: white;
}
.sepr:last-child {
    display: none;
}
.page-title {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 50px;
    margin-top: -21px;
}
.page-title h1 {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6%;
    text-align: center;
}


.hotel-var.image-row.image-col:hover.overlay {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.3s;
    z-index: 0;
}

.owl-item {
    background: white none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.field--label-inline > .field__label {
    float: left;
    //width: 274px;
}
.field--label-inline > .field__label::after {
    content: ":";
    font-weight: bold;
    padding-right: 5px;
}
.field__label {
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}
.latest-offer-price {
    //float: left;
    font-family: "montserrat";
    font-size: 18px;
    margin-left: -164px;
    padding-bottom: 11px;
    padding-top: 16px;
}
.latest-offer-discount {
    float: right;
    margin-right: 28px;
    margin-top: -40px;;
}
.latest-offer-discount > .field-content {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.latest-offer-photo {
    border-top: 1px dashed #e8e8e8;
}
.explore-main-row {
    background: white none repeat scroll 0 0;
    padding-bottom: 70px;
}
.view-col {
    /*background: gray none repeat scroll 0 0;
    border: 1px solid #f8f8f8;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 30px;*/

     background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    margin: 0 10px 30px 0;
    padding: 30px 15px;
    position: relative;
}
.view-col > a {
    font-family: "montserrat";
    font-size: 16px;
}
.arrow > a {
    font-size: 15px;
}

.more {
    border: 1px solid #e8e8e8;
    background: #fcfcfc;
    border-radius: 50%;
    float: right;
    margin-right: -3%;
    margin-top: -41%;
    position: relative;
    padding: 8px 13px;
}
.more:hover {
  background: #fc4242;
}
.more a:hover {
  color: white;
}
.explore-block h2 {
    margin-bottom: 5%;
}
.contact-message-feedback-form > h2 {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    padding-bottom: 38px;
    padding-left: 70px;
    padding-top: 37px;
}
#contact-message-feedback-form {
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    margin-top: -19px;
    padding: 20px 15px 15px;
}
.contact-message-feedback-form label {
    font-weight: 500;
    margin-right: 3%;
    width: 24%;
    margin-bottom: 15px;
}

.form-email,.contact-message-feedback-form input[type="text"],.contact-message-feedback-form input[type="number"],.contact-message-feedback-form textarea {
  float: right;
  width: 60%;
  display: block;
  height: 27px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.form-text,.form-number {
  display: block;
  height: 35px;
  margin-bottom: 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.contact-message-feedback-form textarea {
  height: 110px;
  float: none;
  width: 100%;
  margin-bottom: 15px;
}
.contact-message-feedback-form input[type="submit"] {
  background: #fc4242;
  border: none;
  border-radius: 0px;
  margin-left: 48%;
}
#edit-preview {
  display: none;
}

.offer-img-col img {
    height: 170px;
    width: 87%;
}
.row.price-row {
    border-bottom: 1px dashed #e8e8e8;
    margin: 15px;
    padding-bottom: 10px;
}
.discount-col {
  background: #fc4242 none repeat scroll 0 0;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 11px;
    text-transform: uppercase;
    width: 100%;
    margin-left: 0px;
}
.col-md-6.price-col {
    font-size: 18px;
    margin-left: -14px;
   // margin-top: 15px;
}
.offer-item {
    background: white none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    text-align: center;
}
.offer-title-col {
    font-family: "montserrat";
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 12px;
    text-transform: uppercase;
}
.more-details-col a {
    color: #fc4242;
    margin-left: 40%;
    font-size: 13px;
}
.offer-detail-row {
    margin-bottom: 15px;
}

.col-md-12.tour-img-col img {
    height: 229px;
    width: 100%;
    padding-bottom 10px;
}
.border-col {
    background: white;
    border: 1px solid #e8e8e8;
    padding-bottom: 10px;
}
.col-md-12.tour-title-col {
    text-align: center;
    margin-top: 5%;
}
.col-md-12.tour-title-col > a {
    font-size: 20px;
    margin-top: 16px;
    padding-top: 17px;
    text-transform: uppercase;
}
.for-border {
    border-bottom: 1px solid #eceeeb;
    font-size: 19px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
.addr.for-border {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.col-md-12.tour-more-detail-col.view-detail > a {
    float: none;
    margin-left: 29%;
}
.col-md-12.tour-more-detail-col.view-detail {
    margin-top: 1%;
}

.for-border > a:hover {
  color: #087dc2;
}
.col-md-12.tour-img-col {
  overflow: hidden;
}
.col-md-12.tour-img-col > img {
  height: 250px;
  width: 100%;
}
.title-div a {
    color: white;
    font-family: "montserrat";
    font-size: 20px;
}
.title-div {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}

.col-md-12.tour-title-col.destination-title {
    margin-top: -28px;
}
.tour-days-row {
     margin-bottom: 28px;
    margin-top: 30px;
    text-align: center;
}
.tour-more-detail-col > a {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    float: right;
    font-size: 13px;
    margin-right: 17px;
    padding: 7px 13px;
    font-family: "montserrat";
}
.tour-more-detail-col > a:hover {
  background: #6dc82b;
  color: #334;

}
.tour-price-row {
    padding-bottom: 15px;
}
.sp-title {
    text-align: left;
    font-family: "montserrat";
    font-size: 12px;
}
.sp-img img {
    height: auto;
    width: 100%;
}
.sp-block-row {
    border-bottom: 1px dashed #e8e8e8;
    //margin-bottom: 21px;
    padding-bottom: 14px;
    padding-top: 14px;
    //background: white;
    font-size: 12px;
}
.tour-header-block {
    border-bottom: 1px dashed #e8e8e8;
    //margin-bottom: 21px;
    padding-bottom: 14px;
    padding-top: 14px;
    //background: white;
}
/*#block-views-block-special-offers-block-2 {
  background: white;
  //height: auto;
  margin-top: -19px;
}
#block-views-block-special-offers-block-2 > h2 {
    background: #fc4242 none repeat scroll 0 0;
    font-size: 19px;
    padding: 15px;
    color: white;
}*/
.panel-heading.head-title > a {
    color: white;
    font-family: "montserrat";
    font-size: 17px;
    text-transform: uppercase;
}
.panel-heading.head-title {
    background: #fc4242 none repeat scroll 0 0;
}
.bold {
    font-family: "montserrat";
}
#block-views-block-tour-packages-block-3 > h2,#block-views-block-contact-us-block-1 > h2,#block-views-block-special-offers-block-2 > h2 {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    padding: 15px;
    margin-bottom: -1px;
}

.google-map-field .map-container {
    width: 100%;
}
.views-accordion-header {
    background: #fc4242 none repeat scroll 0 0;
}
label[for="edit-mail"] {
    width: 19%;
}

#edit-mail {
    margin-top: 15px;
}
.row.top-header-col {
    background: #222 none repeat scroll 0 0;
    color: white;
    font-family: "montserrat";
    padding-bottom: 9px;
    padding-top: 15px;
    margin-bottom: -9px;
    text-transform: uppercase;
    //height: 58px;
}
.row.top-header-col a {
  color: white;
  font-family: "montserrat";
  text-transform: none;
}
.card-block {
    background: #333 none repeat scroll 0 0;
    height: 326px;
    overflow-y: scroll;
    position: absolute;
    z-index: 99;
    margin-left: -89px;
    margin-top: 50px;
    margin-right: 15px;
}

.top-header-col-4 {
    background: #fc4242 none repeat scroll 0 0;
    height: 50px;
    margin-bottom: -10px;
    margin-top: -16px;
}
.btn.header-btn{
  background: transparent none repeat scroll 0 0;
    float: right;
    margin-left: 165px;
    margin-top: -27px;
    padding: 8px;
}
.top-header-col-2 a {
    border-right: 1px solid;
    padding-right: 16px;
}
.fa {
  font-size: 17px;
}
.top-header-col-4 h2 {
    color: white;
    font-size: 16px;
    margin-left: 30%;
}
.destination-col h2 {
    margin-left: 15px;
}
.main-content h1 {
    color: #1e1e1e;
    font-family: "Courgette";
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    text-transform: none;
}
.owl-theme .owl-controls .owl-page span {

    background: #232625;
}
.slider-row.owl-controls.clickable.owl-pagination {
    margin-top: -38px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 0.5;
}

.field--name-field-hotels img {
    height: auto;
    width: 252px;
}
.views-view-grid .views-col {
    float: none;
}
.views-field.views-field-title {
    width: 250px;
    font-family: "Montserrat";
}
.jb-classifier-link-wrapper + div{
    opacity: 0;
    visibility: hidden;
}

.field {
  float: none;
  //margin-bottom: 26px;
}
table{
  background-color: #fff;
  border: 2px solid lightgrey;
  
}
.field--name-field-destination-description, .field--name-field-offer-details {
    background: white none repeat scroll 0 0;
    /*margin-top: -14px;*/
    padding: 30px 15px 15px;
    //box-shadow: 1px 3px 4px;
}
.field--name-field-destination-description > .field__label,.field--name-field-offer-details > .field__label  {
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.facilities {
    background: white none repeat scroll 0 0;
    //margin-top: 18px;
    //padding: 15px;
}
.sp {
  text-align: left;
  background: white;
}
#block-contactblock-3 {
  //background-image: url("../images/deer1.jpg");
  //color: white;
}
.contact-title {
    background: #fc4242 none repeat scroll 0 0;
    margin-top: -15px;
    padding: 5px;
    text-align: center;
}
.contact-title a {
  color: white;
  font-size: 15px;
}
.grp-name {
    font-family: "Courgette";
    font-size: 17px;
    margin-left: 17%;
    text-transform: none;
}
#block-sitebranding {
  font-size: 12px;
  padding-right: 51px;
  text-align: left;
}
.email-input {
    border-radius: 5px;
    height: 35px;
    width: 100%;
    margin-top: 0;
}
.name-col {
  margin-top: 15px;
}
.contct-frm {
    background: transparent;
}
.glyphicon.glyphicon-envelope {
    margin-right: 4px;
}
.header-heading {
    float: left;
    margin-top: 16px;
}
.owl-controls.clickable {
    margin-top: -30px;
}
.footer-main-row a {
    color: white;
}
#block-invezza-footer li a {
    margin-bottom: -11px;
     text-transform: none;
}
#block-invezza-footer li a:hover {
  border-bottom: 2px solid transparent;
}
#block-views-block-footercontact-block-block-1 {
    margin-bottom: 15px;
}
.open > .dropdown-menu {
  display: block;
}
#block-footerfirstmenu a:hover {
  border-bottom: 2px solid transparent;
}
#block-footerfirstmenu a {
  text-transform: none;
}
.block-social-media-links ul.platforms, .pane-social-media-link-widget ul.platforms {
  margin-top: 50px;
}
.col-md-2.top-header-col-3 {
    padding-bottom: 18px;
    text-align: center;
}
.front-block {
    border: 1px solid #e8e8e8;
    padding: 10px;
}
.front-block img {
    height: auto;
    width: 100%;
}
.front-block h2 {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    font-size: 19px;
    padding: 11px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
.row-footer-first-row img {
  height: auto;
  width: 100%;
}
.col-md-6.top-header-col-1 {
    padding-left: 9%;
}
img {
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
	/*.image-row img {
		height: 250px;
		width: 450px;
       }*/
       .btn.btn-danger.book-now-btn > a {
        padding: 3px 19px;
    }
    .logo img {
      height: auto;
      width: 63%;
    }
    .jb-panel-index.jb-classifier-thumb-area {
        //margin-top: -95px;
    }
    .dropdown-menu {
        margin-top: 79px;
        background: #222;
    }
    .navbar-nav > li > .dropdown-menu {
        margin-top: 26px;
    }
    /*.nav > li > a:hover, .nav > li > a:focus {
        background: transparent;
        border-bottom: 2px solid #fc4242;
    }*/
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
      background-color: transparent;
      border-color: #fc4242;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
    color: #fc4242;
}
.dropdown-menu > li > a {
    color: #fff;
    margin-top: 10px;
}

.navbar-nav {
    background: transparent;
    margin-left: 40px;
}
.nav > li > a {
    text-transform: uppercase;
}
.dropdown-menu > li {
    border-bottom: 0.1px dashed grey;
    padding-bottom: 10px;
}
.navbar-header {
    background: transparent;
    font-family: "Montserrat";
    font-size: 14px;
    margin-top: 14px;
}
.navbar-nav > li > a {
    color: #222;
}
.caret {
    display: none;
}
.slider-row {
    height: 491px;  
}
.breadcrumb li {
    font-size: 14px;
}
.breadcrumb li a {
    font-size: 14px;
}
.breadcrumb {
    margin-top: -3.5%;
    padding-left: 39.6%;
    position: relative;
    z-index: 10;
}

.breadcrumb-row {
    height: 205px;
}
.page-title {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 204px;
    padding-top: 1px;
    margin-top: 0;
}
.page-title h1 {
    color: white;
    font-size: 22px;
    font-family: "montserrat";
    font-weight: bold;
    padding-top: 4%;
}
.header-row {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 13px 0;
    margin-bottom: 13px;
}
.tabs > li {
 display: inline-block;
}
.content-main-row {
    //margin-top: 80px;
}
.big-front-block-row {
  background: white;
  padding-top: 10px;
}
  .latest-offers-row h2 {
    padding-bottom: 4%;
    padding-top: 2%;
}
.discount-col {
    width: 42%;
    margin-left: 30px;
}
.main-content h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
}
.col-md-12.tour-img-col > img {
    height: 250px;
    width: 100%;
    padding-bottom: 19px;
}
.border-col {
    background: white;
    border: none;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.dest-border-col {
  margin-top: 15px;
  margin-bottom: 20px;
}
.col-md-12.tour-title-col > a {
    font-size: 20px;
    margin-top: 16px;
    padding-top: 17px;
    text-transform: uppercase;
}
.more {
    margin-top: -27%;
  }
  .contact-message-feedback-form input[type="submit"] {
  margin-left: 61%;
  }

  .img-div {
    width: 100%;
    height:220px;
    overflow: hidden;
  }
  .img-div img { 
    height: 220px; 
    width: 100%; 
    -webkit-transition: all 2s ease; 
    -moz-transition: all 2s ease; 
    -ms-transition: all 2s ease; 
    transition: all 2s ease; 
  }
  .img-div img:hover { 
    width: 130%;
    height: 300px; 
  }
  .col-md-6.tour-view-col1 {
    margin-top: 12px;
  }

  table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px dashed #ddd;
  //border: 1px solid #ddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px dashed #ddd;
}
table{
  background-color: #fff;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}
.table-bordered >tbody > tr:hover {
  background: transparent;
}
.field--name-field-hotels img {
    height: 200px;
    width: 100%;
  }

  .views-view-grid .views-col {
    float: left;
    margin-right: 30px;
    }
    .views-field.views-field-title {
    font-family: "Montserrat";
    font-size: 16px;
    width: 100%;
  }
  .field {
  //float: left;
  //margin-bottom: 26px;
}
.row-destination {
    //background: white none repeat scroll 0 0;
    //margin-bottom: 30px;
    //margin-top: 20px;
    //padding: 21px;
}
.destination-wrapper {
  background: white;
}
.detail-table {
  text-align: center;
  //box-shadow: 1px 3px 4px;
  
}
.details-table.field__label {
  font-family: "Open Sans",sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.tagline {
    color: #b117cf;
    font-family: "montserrat";
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}
.offer-price {
    padding-left: 286px;
}
.offer-discount {
    padding-left: 30px;
}
.price {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    //margin-left: 277px;
    margin-right: 21px;
    padding-left: 22px;
    padding-top: 5px;
}
.discount {
    background: #fc4242 none repeat scroll 0 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 205px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-top: 5px;
}
.ofer_valid {
    margin-left: 70%;
}
.details-wrapper {
    background: white none repeat scroll 0 0;
    padding: 12px;

}
.col-md-6.hotel-country {
    margin-left: -26%;
}
.field--name-field-street::after,.field--name-field-city::after,.field--name-field-hotel-state::after {
  content: ",";
}
/*.field--name-field-city::after {
  content:",";
}

.field--name-field-hotel-state::after {
    content: ",";
}*/
.field--name-field-zip::before {
    content: "(";
}
.field--name-field-zip::after {
    content: ")";
}
.facilities {
    margin-top: 18px;
    padding: 15px;
}
.address-col {
    padding-left: 34%;
}
/*.addr {
    margin-left: -56px;
}*/
.country {
    margin-left: -38px;
}
.zip {
    margin-left: -74px;
}
.col-md-3.addr-state {
    //margin-left: -27px;
}
.col-md-2.addr-city {
        margin-left: -4%;
    margin-right: -4%;
}
.row.addr-row {
    margin-bottom: 8px;
    margin-left: 22%;
    margin-top: -23px;
}
/*#contact-message-contact-form-form {
   // background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    margin: -94px -90px -41px -89px;
    padding: 90px;
}
#block-contactblock-3 {
    //background: red none repeat scroll 0 0;
    margin-bottom: -39px;
    margin-left: -96px;
    margin-right: -29px;
    padding: 40px 90px;
}*/
/*label[for="edit-pass"], label[for="edit-name"] {
    float: none;
    padding-right: 41%;
    padding-top: 2%;
}*/
/*#edit-pass,#edit-name {
    background: white none repeat scroll 0 0;
    border: 1px solid #baaeae;
    border-radius: 0;
    float: none;
    padding: 6px;
    width: 70%;
}*/
#edit-pass--description {
    margin-bottom: 21px;
}
#user-login-form {
    background: white none repeat scroll 0 0;
    border: 1px solid #D0CFCF;
    padding: 14px 14px 25px 6%;
}
.contct-frm {
    background: #ffab06 none repeat scroll 0 0;
    border: 1px solid gray;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 51px;
    padding: 36px;
}
#block-views-block-tour-packages-block-3,#block-views-block-contact-us-block-1,#block-views-block-special-offers-block-2  {
    height: 402px;
}
.row.top-header-col {
    height: 58px;
}
}