{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }} class="title">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}  
  {% block content %}
    <div class="content">
      {{ content }}
    </div>
  {% endblock %}
</div>
