<!-- Main Wrapper -->
<div class = "wrapper">

	<div class = "row top-header-col">
		<div class = "col-md-6 top-header-col-1">
			{{ page.top_header_first }}
		</div>

		<div class = "col-md-3 top-header-col-2">
			{{ page.top_header_second }}
		</div>

		<div class = "col-md-3 top-header-col-3">
			{{ page.top_header_third }}
		</div>
	</div>
	<!-- Header Area Starts -->
	<div class = "row header-row">
		<div class = "container container-logo">
			<nav class = "nav">
				{% if page.logo %}
					<div class = "col-md-3 logo">
						{{page.logo}}
					</div>
				{% endif %}
				<div class = "btn-menu">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="sr-only">{{ 'Toggle navigation'|t }}</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class = "col-xs-12 col-md-9 navbar-header">
					{% if page.primary_menu %}
						<div id="navbarCollapse" class = "navbar-collapse collapse">
							{{page.primary_menu}}
						</div>
					{% endif %}
				</div>
			</nav> 
		</div>
	</div>
	<!-- Header Area Ends -->


	<!--Slider Area Starts -->

	{% if is_front and page.slider %}
		<div class = "row slider-row">
			<div class = "col-md-12">
				{{page.slider}}
			</div>
		</div>
	{% endif %}

	<!--Slider Area Ends -->

	<!-- Breadcrumb Starts -->

	{% if page.breadcrumb %}
		<div class = "row breadcrumb-row">
			<div class = "page-title"> {{ page.page_title }} </div>
			<div class = "col-md-12 breadcrumb-col">
				{{ page.breadcrumb }}
			</div>
		</div>
	{% endif %}

	<!-- Breadcrumb Ends -->

	<div class = "container">
		{% if is_front %}
			<!-- Front Blocks Starts -->
			{% if page.front_block_first or front_block_second or front_block_third %}
				<div class = "row front-block-row">
					<!-- Front Block First Region Starts -->
					{% if page.front_block_first %}
						<div class = {{ front_block_class }} >
							<div class = "front-block">
								{{ page.front_block_first }}
							</div>
						</div>
					{% endif %}
					<!-- Front Block First Region Ends -->

					<!-- Front Block Second Region Starts -->
					{% if page.front_block_second %}
						<div class = {{ front_block_class }}>
							<div class = "front-block">
								{{ page.front_block_second }}
							</div>
						</div>
					{% endif %}

					<!-- Front Block Second Region Ends -->

					<!-- Front Block Third Region Starts -->
					{% if page.front_block_third %}
						<div class = {{ front_block_class }}>
							<div class = "front-block">
								{{ page.front_block_third }}
							</div>
						</div>
					{% endif %}
					<!-- Front Block Third Region Ends -->
				</div>
			{% endif %}

			<!-- Front Blocks Ends -->

			<!-- Big Front Block Region Starts -->
			{% if page.big_front_block %}
				<div class = "row big-front-block-row">
					<div class = "col-md-12">
						{{ page.big_front_block }}
					</div>
				</div>

				<div class = "container">
					<div class = "separator"></div>
				</div>
			{% endif %}

			<!-- Big Front Block Region Ends -->

			<!-- Explore & Booking Regions Starts -->

			{% if page.explore_block or page.booking_block %}
				<div class = "row">
					<!-- Explore Block Region Starts    -->
					{% if page.explore_block %}
						<div class = {{explore_block_class}} >
							{{ page.explore_block }}
						</div>
					{% endif %}
					<!-- Explore Block Region Ends    -->

					<!-- Booking Block Region Starts    -->
					{% if page.booking_block %}
						<div class = {{ booking_block_class }}>
							{{ page.booking_block }}
						</div>
					{% endif %}
					<!-- Booking Block Region Ends    -->
				</div>
			{% endif %}

			<!-- Explore & Booking Regions Ends -->

			<!-- Latest Offers Region Starts    -->
			{% if page.latest_offers_block %}
				<div id = "latest-offers-row" class = "row latest-offers-row">
					<div class = "col-md-12 ">
						{{ page.latest_offers_block }}
					</div>
				</div>
			{% endif %}
			<!-- Latest Offers Region Ends    -->
		{% endif %}
	</div>

	<!-- Main Content Area Starts    -->
	{% if page.content or page.sidebar_right %}
		<div class = "row content-main-row">
			<div class = "container">
				<!-- Main Content Region Starts -->
				{% if page.content %}
					<div class = {{content_class }}>
						<div class =  "main-content">
							{{ page.content }}
						</div>
					</div>
				{% endif %}
				<!-- Main Content Region Ends -->

				<!-- Sidebar Right Region Starts -->
				{% if page.sidebar_right %}
					<div class = {{ sidebar_right_class }}>		 		
						{{ page.sidebar_right }}
					</div>
				{% endif %}
				<!-- Main Content Region Ends -->
			</div>
		</div>
	{% endif %}

	<!-- Footer Area Starts    -->
	{% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth or page.footer_fifth or page.footer_sixth %}
		<div class = "row footer-main-row">
			<div class = "container">
				{% if page.footer_first or page.footer_second or page.footer_third %}
					<div class = "row-footer-first-row">
						<!-- Footer First Region Starts -->
						{% if page.footer_first %}
							<div class = {{ footer_class }}>
								{{ page.footer_first }}
							</div>
						{% endif %}
						<!-- Footer First Region Ends -->

						<!-- Footer Second Region Starts -->
						{% if page.footer_second %}
							<div class = {{ footer_class }}>
								{{ page.footer_second }}
							</div>
						{% endif %}
						<!-- Footer Second Region Ends -->

						<!-- Footer Third Region Starts -->
						{% if page.footer_third %}
							<div class = {{ footer_class }}>
								{{ page.footer_third  }}
							</div>
						{% endif %}
						<!-- Footer Third Region Ends -->
					</div>
				{% endif %}
				{% if page.footer_fourth or page.footer_fifth or page.footer_sixth %}
					<div class = "footer-second-row row">
						<!-- Footer Fourth Region Starts -->
						{% if page.footer_fourth %}
							<div class = {{ footer_class_2 }} >
								{{ page.footer_fourth }}
							</div>
						{% endif %}
						<!-- Footer Fourth Region Ends -->

						<!-- Footer Fifth Region Starts -->
						{% if page.footer_fifth %}
							<div class = {{ footer_class_2 }} >
								{{ page.footer_fifth }}
							</div>
						{% endif %}
						<!-- Footer Fifth Region Ends -->

						<!-- Footer Sixth Region Starts -->
						{% if page.footer_sixth %}
							<div class = {{ footer_class_2 }} >
								{{ page.footer_sixth }}
							</div>
						{% endif %}
						<!-- Footer Sixth Region Ends -->
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}

	<!-- Footer Area Ends    -->
</div>
<!-- Main Wrapper Ends -->
